@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes temporary-hover-light {
  0%,
  100% {
    color: #475569; /* Use the original light mode color */
  }
  50% {
    color: #0f172a; /* The color you want during the hover in light mode */
  }
}

@keyframes temporary-hover-dark {
  0%,
  100% {
    color: #f1f5f9; /* Use the original dark mode color */
  }
  50% {
    color: #64748b; /* The color you want during the hover in dark mode */
  }
}

/* Light mode class for applying this animation */
.temporary-hover-effect-light {
  animation: temporary-hover-light 500ms ease-in-out;
}

/* Dark mode class for applying this animation */
.temporary-hover-effect-dark {
  animation: temporary-hover-dark 500ms ease-in-out;
}
